<!DOCTYPE html>
<html>
<style>
    li {
        list-style-type: none;
    }



    #menu {
        width: 100%;
        margin: 40px auto 0px;
        height: 45px;
    }

        #menu li {
            float: left;
            width: 92px;
            line-height: 39px;
            margin-left: 30px;
            text-align: center;
            position: relative;
            border: none;
        }

            #menu li a {
                font-size: 16px;
                color: black;
                display: block;
                outline: 0;
                text-decoration: none;
            }

            #menu li:hover a {
                color: #ff0000;
                /*导航栏文字颜色 */
            }

            #menu li:hover .dropdown_1column {
                left: 0px;
                top: 38px;
            }

    .dropdown_1column {
        /* 下拉菜单边框颜色*/
        margin: 0px auto;
        float: left;
        position: absolute;
        left: -999em;
        text-align: left;
        border: 1px solid #066591;
        border-top: none;
        background: #F4F4F4;
        width: 140px;
    }

    #menu li:hover div a {
        /* 下拉菜单文字颜色*/
        font-size: 12px;
        color: #444;
    }

        #menu li:hover div a:hover {
            color: #21910e;
        }

    /*下拉带单鼠标停留颜色*/

    #menu li ul {
        list-style: none;
        padding: 10px 5px;
        margin: 0;
    }

        #menu li ul li {
            font-size: 12px;
            line-height: 26px;
            position: relative;
            padding: 0;
            margin: 0;
            float: none;
            text-align: left;
            width: 130px;
        }

            #menu li ul li:hover {
                background: none;
                border: none;
                padding: 0;
                margin: 0;
            }
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>框架</title>

    <link href="~/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="~/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="~/css/personal.css" rel="stylesheet" type="text/css">

    <script src="~/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/AmazeUI-2.4.2/assets/js/amazeui.js" type="text/javascript"></script>

</head>

<body>
    <!--头 -->
    <header>
        <article>
            <div class="mt-logo">

                <!--悬浮搜索框-->

                <div class="nav white">
                    <div class="logoBig">
                        <li>
                            <img src="~/img/logo.png" />
                        </li>
                    </div>

                    <!--导航栏-->
                    <div id="menu" style="margin-left: auto; ">

                        <ul>
                            <li> <a onclick="DShow()"><span style="font-size:18px">首页</span></a></li>
                            <li><a  href="/Doctor/Appointment"><span style="font-size:18px">预约</span></a></li>
                            <li><a href="/Doctor/PatientFind"><span style="font-size:18px">新闻</span></a></li>
                            <li><a onclick="wode()"><span style="font-size:18px">个人中心</span></a></li>
                            <li><a onclick="wan()"><span style="font-size:18px">完善信息</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </article>
    </header>


    <div class="center">
        <div class="col-main">
            <div class="main-wrap">
                <!--标题 -->
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人中心</strong></div>
                </div>
                <hr />
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!--底部-->
            <div class="footer">

                <div class="footer-bd">
                    <p style="margin-left: 40%">
                        &copy; 2020 - 名医主刀 - <a asp-area="" asp-controller="Home" asp-action="Privacy">大实训一 1803A开发四组</a>
                    </p>
                </div>
            </div>
        </div>

        <aside class="menu">
            <ul style="height: 772px;">
                <li class="person active">
                    <a onclick="wode()"><i class="am-icon-user"></i>个人中心</a>
                </li>
                <li class="person">
                    <p><i class="am-icon-newspaper-o" onclick="quan()"></i>修改</p>
                    <ul>
                        <li> <a onclick="Updatepeople()">修改个人中心</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p onclick="quan()"><i class="am-icon-newspaper-o" ></i>订单</p>
                    <ul>
                        <li> <a onclick="dai()">待支付</a></li>
                        <li> <a onclick="yi()">已支付</a></li>
                        <li> <a onclick="an()">安排中</a></li>
                    </ul>
                </li>

                <li class="person">
                    <p><i class="am-icon-balance-scale"></i>帮助</p>
                    <ul>
                        <li><a onclick="Issue()">常见问题</a></li>
                        <li> <a onclick="AboutWo()">关于我们</a></li>
                        <li> <a onclick="kefu()">联系客服</a></li>
                        <li> <a onclick="Benefit()">公益手术</a></li>
                    </ul>
                </li>

            </ul>

        </aside>
    </div>



</body>

</html>
<script>
    //待支付
    function dai() {
        location.href = '/Doctor/NoPayment';
    }
    //已支付
    function yi() {
        location.href = '/Doctor/HavePaid';
    }
    //安排中
    function an() {
        location.href = '/Doctor/InArrangement';
    }
    //患者个人id
    var lastname = localStorage.getItem("key");
    //完善个人信息
    function wan() {
        location.href = "/Doctor/PatientMeStlf?id=" + lastname;
    }
    //个人中心
    function wode() {
        location.href = "/Doctor/PatientMySelf?id=" + lastname;
    }
    //全部订单
    function quan() {
        location.href = '/Doctor/PatientAllIndent?id=' + lastname;
    }
    //修改个人中心
    function Updatepeople() {
        location.href = '/Doctor/UpdPatientMySelf?id=' + lastname;
    }
    //常见问题
    function Issue() {
        location.href = '/Doctor/PatientCommonProblem';
    }
    //关于我们
    function AboutWo() {
        location.href = '/Doctor/AboutUs';
    }
    //公益手术
    function Benefit() {
        location.href = '/Doctor/GoodOperation';
    }
    //首页
    //用户id

    var user = localStorage.getItem("usersid");

    function DShow() {
        location.href = '/Doctor/PatientIndex?id=' + user;
    }
    function kefu() {
        alert("客服电话：17600377593");
    }
</script>
