
@{
    
    Layout = "~/Views/Shared/GShow.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <style>
        body {
            background-image: url(http://localhost:52083/img/1ef5b.jpeg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <center>
        <h1 style="color:blue">名医主刀</h1>
        <h2 style="background-color:green;color:white">公司介绍</h2>
    </center>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        名医主刀是移动医疗手术平台，为有手术需求的患者提供专业、高效、安全的手术医疗服务。
        由苏舒及其团队于2014年创建，帮助有手术需求的患者，在第一时间预约专家，安排入院手术。
        名医主刀平台上的专家累计逾 30000 多名，以主任医师和副主任医师为主，集中
        于北京、上海、广州、南京、杭州、深圳等地，手术量以每月40%的增长率增长，对接手术落地医院接近 100 家。
    </div>
    <br />
    <center>
        <h2 style="background-color:green;color:white">汇聚国内外顶级名义资源</h2>
    </center>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        名医主刀 隶属于上海创贤网络科技有限公司，总部坐落于上海，现设北京、广州、杭州、天津、南京、成都等分部，业务范围覆盖全国。平台汇聚了国内外名医资源和闲置床位资源，并利用互联网技术实现医患匹配，医疗资源优化配置，帮助患者解决“好看病，看好病”的切实需求。
        从成立之初，名医主刀响应国家多点执业政策，利用互联网思维，优化医疗资源分配，让更多患者可以轻松享受北上广等一线城市名医专家资源。患者通过平台可精准对接到擅长相关疾病的专家，从而节省了在不同医院门诊排队的时间，一定程度上缓解三甲医院门诊排队现象并减少患者乱投医而产生的费用。
        同时，名医主刀也在政府提倡的分级诊疗政策和医疗服务模式上进行探索，实现了“互联网+分级诊疗”模式创新。基于基层诊疗制度，遇到疑难病例基层可请名医会诊，基层无法承接的患者可以通过平台转诊。   截止2015年，名医主刀已与北京和睦家医院、上海德济医院、上海天坛普华医院和南京医科大学第二附属医院等一批优质的公立及高端私立医院建立了战略合作关系，随时可以提供大量的床位和手术室资源。
        通过与国内多家三甲医院、二甲医院、民营医院合作，基层首诊患者通过名医主刀平台可对接三甲医院医生，在有闲置床位资源的公立医院或民营医院进行手术治疗，有效缓解看病难，看病贵等问题。
        <br />  &nbsp;&nbsp;&nbsp;&nbsp;
        2015年10月17日、18日两天，名医主刀与滴滴出行、阿里健康共同打造的“滴滴医生”项目在北京、上海、南京、杭州4个城市同时开展电召医生上门服。 活动期间，试点城市共接到呼叫2600多次，筛选、匹配后完成40多单上门服务。该项目最终获评2015年度十大健康新闻。
        2015年11月28日，在人民日报《健康时报》主办的第八届“健康中国”论坛上，名医主刀荣获“2015年度互联网+医疗行业创新贡献奖”；
        2015年12月2日，名医主刀入选“第十届中国最具投资价值企业50强”榜单。该榜单由清科集团发起，是投资界首个专注高成长企业的年度评选活动，被誉为“投资界的风向标”。
        2016年4月20日在人民大会堂举行“共享名医资源、共铸健康中国”名医公益手术捐赠暨名医宣言发布会。此次活动共获得85位专家捐赠的365台公益手术。名医主刀联合公益组织、企业家、医生、公益明星等社会力量共同展开健康志愿服务，为看不起病的老百姓提供免费专业的医疗卫生服务，并帮助欠发达地区提升整体医疗服务水平和质量。
        2016年5月14日，名医主刀与延安大学附属医院共同建立延安市第一家互联网手术中心，双方以延安大学附属医院为区域手术基地。此举也标志着名医主刀“红色公益之旅”大型活动正式启动。
        2017年4月19日，名医主刀与全国首个服务于肢体伤残、运动功能障碍相关疾病的专科医生集团——上海壹博医生集团签订战略合作协议，标志着名医主刀从与单个医生合作的模式升级到与大型医生集团合作的模式，是名医主刀实现“三步走”战略路上的又一坚实步伐   。
    </div>
    <br />
    <center>
        <h2 style="background-color:green;color:white">细致、专业的医疗服务</h2>
    </center>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        上海创贤网络科技有限公司企业注册资金345万元。目前，集团下设5个全资子公司：青岛壹舒堂医疗有限公司、舟山安舒堂医疗有限公司、上海仁励医疗科技有限公司、上海沐贤医疗科技有限公司、上海健贤网络科技有限公司。目前业务遍及全国24个省，总部坐落于上海，在北京、青岛、南京、安庆、洛阳、晋城等地设办事处，业务范围覆盖全国。

        自从2014年成立以来，先后完成了三轮融资。2015年5月，得到真格基金创始人徐小平老师认可，获得500万元人民币的天使投资；2015年10月，复星医药领投，高榕资本、真格基金跟投，完成A轮6000万元人民币融资；2016年4月，由约印创投和汉富控股领投、复星医药、高榕资本、真格基金、美国凯瑟琳癌症中心与风和资本等机构跟投，完成 B 轮 1.5 亿元人民币融资。

        多年务实求进，砥砺前行，上海创贤网络科技有限公司主营业务枝繁叶茂，现已拥有三大业务体系：

        互联网手术平台，为患者提供国内外专家手术预约服务，最大限度地成就优化医疗资源配置，让每一位患者看好病；

        紧密型专科医联体，携手北上广各大三甲医院名医专家，将优质的医疗资源，通过名医铸刀的方式，进行传帮带，切实把优质医疗资源下沉至广阔的市、县一级，先后与近千家基层医院进行了战略合作，让每一位医生行好医；

        上海名医会诊中心和日间手术中心，汇集全球各学科名医大咖，以一站式MDT为特色，以高品质的就医体验为目标，辐射长三角，为华东区大病、疑难病的患者提供优质的就医平台。
    </div>
</body>
</html>
