
@{
    ViewData["Title"] = "Administrative";
    Layout = "~/Views/Shared/DEShow.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<style>
    #max2 {
        width: 1200px;
        height: 500px;
        background-color: gainsboro;
        margin-left: 10px;
        margin-top: 10px;
    }

    .div {
        width: 230px;
        height: 300px;
    }

    .rs {
        background-color: white;
        width: 230px;
        height: 70px;
        margin-top: 10px;
    }
</style>

<div id="max2">
    <h1 style="margin-left: 450px;"><span>PILOTHOSPITAL</span></h1>

    <div v-for="item in list" :key="item.departmentsId" style="margin-left: 60px; float: left;">
        <div class="rs">

            <p>
                <div id="div"></div>
            </p>
        </div>
    </div>
</div>

<script>
    ShowDepartments();
    //显示科室
    function ShowDepartments() {
        $.ajax({
            url: "http://localhost:52083/Doctor/PatientShowDepartment",
            type: "get",
            async: true,
            success: function (h) {

                $("#div").empty();
                $(h).each(function () {
                    var a = "";
                    if (this.departmentsId % 3 == 0) {
                        a = "<br /> ";
                    }
                    $("#div").append(""
                        + "<a value='" + this.departmentsId + "' onclick='Department(" + this.departmentsId + ")'>" + this.departmentsname + "</a>"
                        + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                        + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                        + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                        + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                        + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                        + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                        + "" + a + ""
                        + "");
                })

            }
        })
    }
    var lastname = localStorage.getItem("key");
    //点击科室进入医院的页面
    function Department(id) {
        location.href = '/Doctor/DepartmentToHostal?id=' + id + "&PatientId=" + lastname;
    }
</script>

