
@{
    ViewData["Title"] = "Administrative";
    Layout = "~/Views/Shared/DEShow.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.js"></script>

<style>


    .rs {
        background-color: white;
        width: 1200px;
        height: 800px;
        margin-top: 10px;
    }
</style>

<div>
    <h1 style="margin-left: 450px;"><span>PILOTHOSPITAL</span></h1>

    <div v-for="item in list" :key="item.departmentsId" style="margin-left: 60px; float: left;">
        <div class="rs">

           
                <div id="div">

                </div>
            
        </div>
    </div>
</div>

<script>
    ShowDepartments();
    //显示科室
    function ShowDepartments() {
        $.ajax({
            url: "http://localhost:52083/Doctor/PatientShowDepartment",
            type: "get",
            async: true,
            success: function (h) {

                $("#div").empty();
                $(h).each(function () {
                    var a = "";
                    var b = "";
                    if (this.departmentsId % 3 == 0) {
                        a = "<br /> ";
                    }
                    if (this.departmentsId==1) {
                        b = "http://localhost:52083/img/k1.png"
                    }
                    if (this.departmentsId == 2) {
                        b = "http://localhost:52083/img/k2.png"
                    }
                    if (this.departmentsId == 3) {
                        b = "http://localhost:52083/img/k3.png"
                    }
                    if (this.departmentsId == 4) {
                        b = "http://localhost:52083/img/k4.png"
                    }
                    if (this.departmentsId == 5) {
                        b = "http://localhost:52083/img/k5.png"
                    }
                    $("#div").append(""
                        + "<img src='" + b + "' style='width:200px;height:200px;margin-left:85px;' />"
                        + "<a value='" + this.departmentsId + "' onclick='Department(" + this.departmentsId + ")' style='margin-top:85px;margin-left:20px'>" + this.departmentsname + " </a>"
                        + "" + a + ""
                        + "");
                })

            }
        })
    }
    var lastname = localStorage.getItem("key");
    //点击科室进入医院的页面
    function Department(id) {
        location.href = '/Doctor/DepartmentToHostal?id=' + id + "&PatientId=" + lastname;
    }
</script>

