
@{
    ViewData["Title"] = "DoctorMyCenter";
    Layout = "~/Views/Shared/DoctorMyself.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<center><h2 style="margin-top:60px">你好，  <span id="span6"></span>医生</h2></center>
    
<script>
    IndexToMyCenterId();
    function IndexToMyCenterId() {
        $.ajax({
            url: "http://localhost:52083/Doctor/DoctorXinxiInName?id="+@ViewBag.IndexToMyCenterId,
            type: "get",
            success: function (h) {
                $("#span6").empty();
                console.log(h);
                $(h).each(function () {
                    $("#span6").append(this.doctorName);
                })

            }
        })
    }
</script>