
@{
    ViewData["Title"] = "DoctorSignedExpert";
    Layout = "~/Views/Shared/DoctorMyself.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorSignedExpert</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <style>
        body {
            background-image: url(http://localhost:52083/img/d6.jpeg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <center>
        <div style="width:800px">
            <h2 style="background-color:green;color:white">专家战略合作框架协议</h2>
            <div>
                本协议甲乙双方为签约医生与上海创贤网络科技有限公司(下称“名医主刀”) ,
                本协议具有合同效力。甲乙双方经共同探讨,基于对发展愿景的彼此认可,宣布成
                为独家互联网医疗战略合作伙伴,共同进行业务拓展和联合推广,特彼此达成战略
            </div>
            <p>合作框架协议如下:</p>
            <h3 style="background-color:green;color:white">一、合作原则:</h3>
            <div>
                按照“优化存量、引进增量、增资扩股”的思路,社会效益和经济效益并重,坚持合法规范
                和平稳过渡,注重合作的引领和示范作用,切实维护国家、医院、职工和合作方的合法权益。
            </div>
            <h3 style="background-color:green;color:white">二、合作目标</h3>
            <div>
                在未来2年内完成医院扩建工程建设,通过资金投入、管理机制和医疗资源的引进,
                共同将丙方建成集医疗服务、教学科研、康复养老为一体的、地区最好的综合性医院。
                不仅满足当地广大人民群众基本的医疗需求,亦提供高端的多层次的特需医疗消费服务。
            </div>
            <h3 style="background-color:green;color:white"> 三、合作内容</h3>
            <h5 style="background-color:green;color:white"> (一)股份制改造及建立法人治理结构</h5>
            <p>1.股权转让</p>
            <div>
                乙方收购甲方所持乙方的全部股份约占总股本的65%,收购丙方核心医生团队部分股份约占
                总股本的20%,股份价格按照三方共同认定的原则,以经第三方审计评估所得净利润的13.5倍
                作价。股权交割后丙方改制成为营利性医院,在工商登记成为xx第二医院有限责任公司(暂定名、以下简称“医院公司”)。
            </div>
            <br />
            <p>2.建立法人治理体制</p>
            <div>
                按照《中华人民共和国公司法》规定,建立完善法人治理结构。合作后丙方实行董事会领导
                下的院长负责制,以院长为核心组成的院务委员会对董事会负责。主持医院运营管理工作,
                组织实施董事会批准的年度经营方案和中长期发展规划。医院公司总经理兼院长由现任医院管理团队继续担任。
            </div>
            <p>3.关于医院未来的收益</p>
            <div>
                乙方承诺在未来5年内,在利润并表的前提下将收益分红留存用于医院未来发展。同时丙方依然
                坚持公益性原则,承担xx县的公共卫生服务职能和应当承担的社会责任。
            </div>
            <h5 style="background-color:green;color:white">(二)关于新建病房楼和养老康复楼</h5>
            <div>乙方承诺在未来2年内投入资金完成新病房大楼和养老康复楼的建设,乙方确保所承诺项目建设资金及时足额到位。</div>
            <h5 style="background-color:green;color:white">（三)对员工实施激励</h5>
            <div>
                为确保医院的发展,乙方承诺全部接受现有在职员工,并保证其工资福利待遇增长不低于xx县同级
                公立医院水平。丙方承诺每年利润增长率达10%, :同时在股权交割后,乙方将立即对丙方员工实施
                股票期权激励计划,充分调动医务人员积极性,分享医院发展成果。
            </div>
            <p style="background-color:green;color:white">激励计划:</p>
            <div>1、丙方承诺未来每年利润保持10%稳定增长,超过10%部分的利润一半作为奖励供医生团队分配。</div>
            <div>2、若丙方未达到承诺的每年10%利润增长率,丙方</div>
            <div>3、总额激励。</div>
            <p>该计划原则上由医院管理层根据医院实际状况,按照上市公司规范要求制定,分配机制应充分考虑</p>
            <p style="background-color:green;color:white">以下因素:</p>
            <div>1、充分考虑工龄、职称、职务等因素,本着维护技术骨干队伍稳定,有利于医院发展的原则;</div>
            <div>2、分配方案的确立及实施应有法律依据,提交职工讨论通过;</div>
            <div>3、医院实际经营状况、未来发展目标和财务贡献。</div>
            <h3 style="background-color:green;color:white">五、乙方合作承诺</h3>
            <div>
                <h5> 1、提升硬件环境:</h5>
                在未来两年内乙方采用增值扩股的方式为丙方投入发展资金,用于增加新病房大楼和养老康复楼的建设、投资更新医疗设备,改善就医环境。
            </div>
            <div>
                <h5>2、加强学科建设:</h5>
                以现有技术力量为基础,结合医院发展目标、当地市场竞争格局及人力设备资源状况,
                确立建设一批市级、县级重点学科,向高、精、尖方向发展妇产科、外科等现有优势学科和重点建设学科。
                对于丙方目前欠缺的科室给予技术扶持。
            </div>
            <div>
                <h5>3、建立学术基金:</h5>
                设立重点学科专项发展基金,建立学术奖励机制,通过向职工提供科研经费、教育培训、
                参与课题研究等多种方式,以学术研究带动提高临床科室的整体业务水平和技术水平。特别对于学科带头人,将给予重点倾斜。
            </div>
            <div>
                <h5> 4、医疗资源保障:</h5>建立知名专家技术团队到医院工作的长效机制。同时分期分批组织现有的业务、管理
                骨干到知名医院培训;从外部医疗机构和专业院校引进人才,为医院的健康发展提供人才支撑。
            </div>
            <h3 style="background-color:green;color:white">六、甲方合作承诺</h3>
            <div>
                1、甲方承诺截至收购日前,偿清医院所有债务;除医院披露的债务外,不存在任何应支付的债务
                (包括或有债务)、应支付的欠缴税费以及其他应付的任何费用。
            </div>
            <h3 style="background-color:green;color:white">七、丙方合作承诺</h3>
            <div>
                1、本着“产权清晰、权责对应”的原则, 甲、乙、丙三方共同履行改制义务,共司推进改制工作。
                甲、丙双方积极协调各方关系,乙方积极配合,在签订本协议后努力协调将医院转变为营利性医院、
                将医院用地转变为医疗出让地,以符合上市公司并购标准。丙方承诺医院改制及土地转性过程中产生费用,
                1000万元人民币以内,由医院自行承担;费用超出1000万元部分,医院与乙方各承担一半。
            </div>
        </div>
    </center>
    <input id="Button1" type="button" value="同意" onclick="ok()" class="btn btn-danger"  style="margin-left:112px" />
</body>
</html>
<script>
    function ok() {
        $.ajax({
            url: "http://localhost:52083/Doctor/Province?id=@ViewBag.DoctorSignedExpertId",
            type: "get",
            success: function (h) {
                if (h > 0) {
                    alert("恭喜你，成为专家");
                    location.href = '/Doctor/SignUpSuccess?id=@ViewBag.DoctorSignedExpertId';
                }
            }
        })
    }
</script>

