
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorPublicBenefit</title>
</head>
<body>
    <h1 style="color:green">加入名医公益</h1>
    <br />
    <h4 style="background-color:green;color:white">简介</h4>
    <div>
        名医主刀每天都会接触到大量需要手术的患者，
        其中不少患者家境贫寒，难以承担手术费用。
        据此，名医主刀发起名医公益联盟，通过互联网技术
        整合多方资源，联合公益组织、医疗专家、企业家、公益明星等，共建一种可持续公益模式
        让更多的贫困患者有机会得到资助、得到更好的治疗。截至2016年12月底，已有365台公益手术顺利完成
        名医公益联盟一天一台公益手术的目标圆满达成，但名医公益的脚步却从未停歇。
    </div>
</body>
</html>
