
@{
   
    Layout = "~/Views/Shared/GShow.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodOperation</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <style>
        #re ul li {
            margin-top: 30px;
        }

        .cs {
            width: 800px;
            height: 50px;
            background-color: cadetblue;
            margin-top: 20px;
        }
    </style>
</head>


<body>
    <div style="width: 1200px; height: 1200px; margin-left: 100px;">

        <div style="width: 1000px; height: 400px; margin-left: 50px;">
            <div style="width: 1000px; height: 180px;">
                <img src="/img/2.png" width="1000px" height="180px">
            </div>
            <div style="width: 1000px; height: 220px;">
                <span style="font-size: 25px;">医者仁心，名医主刀自创办以来，一直保持初心，坚守仁爱，把“仁爱”作为企业精神的首要内容。名医主刀每天都会接触到大量需要手术的患者，其中不少患者家境贫寒，难以承担手术费用。据此，名医主刀发起名医公益联盟，通过互联网技术，整合多方资源，联合公益组织、医疗专家、企业家、公益明星等，共建一种可持续公益模式，让更多的贫困患者有机会得到资助，得到更好的治疗。</span>
            </div>

        </div>



        <div id="re" style="margin-left: 50px; width: 1000px; height: 500px;">
            <div style="width: 1000px; height: 180px;">
                <img src="/img/faq.png" width="1000px">
            </div>

            <h2 style="margin-left: 30px;">如何预约</h2>
            <ul>
                <li>
                    <span>我为家人预约，预约时填写我本人的姓名和手机号还是家人的？</span>
                </li>
                <div class=cs>
                    <span style="margin:0 auto">本人或家人都可以，名医助手联系后需提供患者本人基本疾病信息。</span>
                </div>
                <li>
                    <span>预约时需要提供的资料有哪些？</span>
                </li>
                <div class=cs>
                    <span>需要提供：1、基础资料：姓名、性别、年龄、疾病诊断、就诊医院、治疗状况等； 2、相关检查资料：核磁（MRI）、CT、病理、B超及相关诊断检验报告等；</span>
                </div>
                <li>
                    <span>名医主刀能根据我的疾病推荐权威专家吗？</span>
                </li>
                <div class=cs>
                    <span>权威医院每个科室细分领域比较多，需要了解患者的具体病情、提供详细的疾病资料名医助手才能帮您匹配最合适的专家，可以点击网站右上角快速预约进行申请。</span>
                </div>
                <li>
                    <span>没有做过检查没有确诊的情况下怎样预约手术呢？</span>
                </li>
                <div class=cs>
                    <span>名医主刀是国内最大的移动医疗手术平台，针对有手术需求，或希望尽快确诊是否需要手术的患者。未就诊的患者建议先去正规医院做疾病诊断，明确病情后，若需要手术可通过网站预约手术。</span>
                </div>
                <li>
                    <span>交付平台预约金后，如果没有在48小时内收到平台回复怎么办？</span>
                </li>
                <div class=cs>
                    <span>
                        名医助手收到预约单后，会在第一时间联系患者，确认就诊意向和提交的疾病诊断资料，确定病历无误后开始联系专家，将会在48小时内给予医生的初步反馈。
                        如果未能在48小时内给予回复，您可以申请退款。
                    </span>
                </div>
                <li>
                    <span>手术可以指定主刀医生吗？</span>
                </li>
                <div class=cs>
                    <span>名医助手会为每一个患者安排最合适的医生，患者无需指定手术医生。如果有指定需求，可以在预约单里填写或者助手电话回访时提出。</span>
                </div>


            </ul>

        </div>
    </div>
</body>

</html>
