
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KnowDoctorPatient</title>
</head>
<body>
    <div>
        <p><h6>名医主刀</h6>i互动撒会雕塑hi大赛化的俗话</p>
    </div>
    <hr />
    <div>
        <p><h6>总部</h6>i互动撒会雕塑hi大赛化的俗话</p>
    </div>
    <hr  />
    <div></div>
</body>
</html>
